* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    height: 100vh;
    width: 100%;
    display: -ms-grid;
    background-color: #ffddc2;
    background-attachment:fixed;
    color: black;
  }

  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  a {
    color: black;
    font-size: 1.2em;
    text-decoration: none;
    letter-spacing: 5px;
  }

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  nav img {
    height: 5vh;
    width: auto;
  }

  ul {
    margin-top:8vh;
    margin-bottom:8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 30%;

    margin-left: 50vw;
  }

  li {
    list-style: none;
  }

  nav li a {
    color: black;
    font-weight: 300;
    font-size: 1.5em;
    text-decoration: none;
    letter-spacing: 3px;
  }

  li:hover .nav__line {
    width: 95%;
  }

  .active {
    font-weight: 600;
  }

  .nav__line {
    margin-top: 5px;
    height: 2px;
    width: 0%;
    background-color: black;
    border-radius: 10px;
    -webkit-transition: width 0.25s;
    transition: width 0.25s;
  }
  .streepje{
    margin-right: 1vw;
    margin-left: 1vw;
  }

  .gridcontainer{
    display: inline-grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: auto auto auto;
  }
  .grid_mix_container{
    display: inline-grid;
    grid-row-gap: 20px;
    grid-template-columns: auto;
  }
  .griditem, .grid_mix_item{
    position: relative;
    text-align: center;
    width: 230px;
    height: 230px;
    background-color: rgba(0, 0, 0, 0);
    list-style: none;
    border-radius: 20px;
    border: 4px solid black;
  }
  .grid_mix_item{
    width: 640px;
    height: 220px;
    background-color: rgba(0, 0, 0, 0);
    list-style: none;
    border-radius: 20px;
    border: 4px solid black;
  }
  .item_image, .item_image_mix{
    width: 150px;
    height: 140px;
    margin: 10px auto 10px auto;
  }
  .item_image_mix{
    position: absolute;
    left: 1vw;
  }
  .item_description{
    font-size: 1.5em;
    font-weight: 600;
    margin: 0px auto 0 auto;
  }
  .gridlink{
    text-decoration: none;
    color: inherit;
  }

  form{
    display: inline-grid;
    grid-row-gap: 20px;
    grid-template-columns: auto;
  }

  input {
    padding: 1vh;
    padding-right: 15vw;
    color: black;
    background-color: rgba(0, 0, 0, 0);
    list-style: none;
    border-radius: 8px;
    border: 2px solid black;
  }

  .btn_nieuw{
    position: fixed;
    bottom: 80px;
    right: 100px;
  }

  .btn_plus{
    position: absolute;
    font-size: 2.5em;
    bottom: -18px;
    right: -40px;
  }

  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .card{
    margin-top: 10vh;
  }

  .card-header{
    color: black;
    font-weight: 800;
    font-size: 2em;
    margin-bottom: 2vw;
  }

  .card-body{
    color: black;
  }

  .col-form-label{
    font-weight: 600;
    font-size: 1.3em;
  }

  .btn-link{
    color: black;
    letter-spacing: normal;
    font-size: 1em;
    font-weight: 600;
    text-align: right;
    margin-left: 6vw;
  }

  .col-md-8{
    margin-top: 2vh;
  }

  .btn {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffddc2;
    border: none;
    border: 2px solid black;
    color: black;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.4em;
  }

  .btn_register{
    margin-top: 2vh;
    margin-bottom: 8vh;
    border: 2px solid black;
  }

  .register{
    color: black;
    margin-left: 3vw;
    font-weight: 500;
    font-size: 1.4em;
    letter-spacing: 0;
  }
  .compGrid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 3rem;
  }
  .compCard{
    height:60vh;
    width: 35vh;
    border-radius: 23px;
    background-color: #fafafa;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  }

  .compHeaderContainer{
    width:100%;
    display: flex;
    justify-content: center;
  }
  .compHeader{
    font-weight: bold;
    display:inline-block;
    color: black;
    font-size: 24px;
    margin-top: 5vh;
  }
  .compSensorContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width:100%;
    margin-top:2vh;
  }
  .compSensor{
    height:40vh;
    width:22vh;
    border: 5px solid black;
    border-radius: 22px;
    background-color: black;
  }

  .comp1Fill, .comp2Fill, .comp3Fill {
    background-color: white;
    width: auto;
    border-radius: 18px;
  }

  .dispense{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 50px;
    margin-top: 2.5vh;
    border: none;
    border-radius: 20px;
    border: 2px solid black;
    background-color: white;

  }

  .makeMix {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 20px;
    border: 2px solid black;
    background-color: white;
  }

  @media only screen and (max-width: 600px) {

    .card-header{
      text-align: center;
    }
    form{
      margin-left: 21vh;
    }


  }
  /*# sourceMappingURL=main.css.map */
